@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */
:root {
    --primary: #1f2937;
    --secondary: #e5e7eb;
    --main-text: #f9faf8; 
    --accent: #3882f6;
    --border: white;
    
}
/* TYPHO */
html {
    font-family: 'Roboto', sans-serif;
}
.header .header__logo,
.div__first-block .block__title {
    font-size: 24px;
    color: var(--main-text);
    font-weight: bold;
}
.div__first-block .block__title {
    font-size: 32px;
}

.header__nav .nav__item,
.div__first-block .block__text,
.main__second-div .block__text,
.main__third-div .block-element--author,
.footer, .footer .footer__author {
    font-size: 18px;
    color: var(--secondary);
}

.main__second-div .div__title {
    font-size: 36px;
    font-weight: bolder;
    color: var(--primary);
}

.main__second-div .block__text{
    margin-top: 10px;
}
.main__third-div .block-element--author{
    color: var(--primary);
}
.main__third-div .block-element--quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--primary);
}

.main__fourth-div  .div__container {
    color: var(--main-text);
    font-size: 18px;
}

.main__fourth-div .div__first-block .block-element--bold {
    font-weight: bold;
    margin-bottom: 4px;
}
/* LAYOUT */
.header, .main .main__first-div, .main__second-div{
    padding: 0 30rem;
}
.header .div__container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    gap: 20px;
}


.main__first-div .div__container {
    display: flex;
    justify-content: space-between;
}
.main .main__first-div  {
    padding-top: 60px;
    padding-bottom: 80px;
}

.main__first-div .div__container .div__first-block .block__text {
    margin: 0.8rem 0;
}
.main__first-div .div__container .div__first-block{
    width: 30%;
}
.main__first-div .div__container .div__second-block{
    width: 50%;
    background: url(./images/blank_image.jpg) no-repeat;
    background-size: cover;
    background-position:center
} 

.main__second-div {text-align: center; }
.main__second-div .div__container {
    display: flex;
    flex-direction: column;
}
.main__second-div .div__container{
    padding: 110px 0;
}
.main__second-div .div__container .div__first-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
}
.main__second-div .div__container .div__first-block .block-element {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 180px;
}

.main__second-div .div__title {
    margin-bottom: 50px;
}

.main__third-div {
    display: flex;
    
}
.main__third-div .div__first-block {
    margin: 10rem 30rem;
}

.main__third-div .block-element--author {
    text-align: right;
}
.main__third-div .block-element--quote {
    text-align: justify;
}

.main__fourth-div {
    display: flex;
    justify-content: center;
}
.main__fourth-div .div__container {
    flex: 1 0 200px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 5px;
    margin: 80px 30%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* COLORS */
.header,
.main, .footer{
    background-color: var(--primary);
}
.main__second-div,
.main__fourth-div {
    background-color: white;
}
.main__second-div .block__text {
    color: var(--primary);
}
.main__third-div {
    background-color: var(--secondary);
}


.main__fourth-div .div__container {
    background-color: var(--accent);
}

/* LINKS */
.header__nav .nav__item,
.footer .footer__author {
    text-decoration: none;
}
.header__nav .nav__item:focus-visible,
.footer .footer__author:focus-visible {
    transform: scale(1.1);
    transition: ease-in-out 220ms;
    border-bottom: 4px solid var(--accent);
    color: white;
    outline: 0;
}

.header__nav .nav__item:active,
.footer .footer__author:active {
    
    color: var(--accent);
    
}


/* BUTTONS */
.block__button{
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: var(--accent);
    border: 0;
    font-weight: bold;
    color: var(--main-text);
}
.block__button.block__button--secondary{
    border: 2px solid white;
    text-wrap: nowrap;
}


.block__button:focus-visible{
    transition: ease-in-out 220ms;
    outline: 2px dotted;
    outline-offset: 2px;
    transform: scale(1.1);
}

.block__button:hover {
    cursor: pointer;
}
/* IMAGES */
.main__second-div .div__container .div__first-block .block-element img{
    width: 100%;
    object-fit: cover;
    border: var(--accent) 3px solid;
    border-radius: 5px;
}

